body {
    margin: 0;
    color: #636363;
}

.container {
    height: 100vh;
    max-width: 600px;
    margin: auto;
    position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    background-image: linear-gradient(45deg, #9C27B0, #fd7d7d);
    color: #FFF;
    font-size: 2rem;
    letter-spacing: 5px;
    box-shadow: 0 0 3px 0px #acacac;
    display: flex;
    align-items: center;
    min-height: 60px;
    padding-left: 10px;
    position: relative;
    margin-bottom: 15px;
}

header::before {
    content: "";
    width: 10px;
    height: 10px;
    background-image: linear-gradient(45deg, #FCE4EC, #FFEB3B);
    position: absolute;
    top: 86%;
    left: 0px;
    width: 100%;
    height: 8px;
}

header img {
    width: 35px;
    display: inline;
    background: #FFCDD2;
    padding: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

.body {
    padding: 10px;
}

.stats {
   
    padding: 5px;
    border-radius: 2px;
    min-width: 250px;
    min-height: 125px;
    font-size: .5rem;
    display: none;
}

.board {
    border: 1px solid #e9e9e9;
    padding: 10px;
    height: 140px;
    box-shadow: 0 0 10px 1px #c8c8c840;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.currentScore {
    /* background: aliceblue; */
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.currentScore .data {
    /* background: antiquewhite; */
    padding: 10px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #9C27B0;
    font-weight: 700;
}

.maxScore .data {
    color: #D32F2F;
    font-size: 1.5rem;
}

.controllers {
    padding: 20px 10px 10px 10px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 0 4px 2px #f6f6f6;
    display: grid;
    justify-content: normal;
    grid-row-gap: 10px;
}

.controllers button {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:3px dashed #a0cff4;
    box-shadow: 0 0 15px 0px #df27ff7a;
    background: white;
    font-size: 1.5rem;
    font-weight: 400;
    color: #5d5d5d;
    outline: none;
    cursor: pointer;
    transition: all .2s;
    -webkit-tap-highlight-color: #FFF0;
}
.controllers button:active {
    box-shadow: 0 0 3px 0px #df27ff7a;
    border: 0px solid #a0cff4;
}

.version {
    /* background: white; */
    position: absolute;
    bottom: 0;
    /* width: 99%; */
    left: 0;
    right: 0;
    padding: 0 5px;
    border-top: 1px solid #eaeaea;
    text-align: right;
    color: #a2a2a2;
}

div#op {
    font-size: 1rem;
}

.sensitivityGroup {
   
    padding: 10px 20%;
    display: flex;
    flex-direction: column;
}

.sensitivityGroup label {
    display: block;
}

.sensitivityGroup #delta {
    padding: 10px;
    text-align: center;
}

.orientation {
    
    padding: 10px 2px;
    display: flex;
    justify-content: space-around;
}

.radioGroup {
    border: 1px solid #e9e9e9;
    padding: 5px 10px 5px 2px;
    min-width: 70px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.hiddenElements {
    /* width: 10px; */
    height: 126px;
    overflow: hidden;
    display: none;
}

video {
    height: 100%;
}